extend ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug

block main 
    h1 Product List
    +search(keyword)
    h5.mb-2 Bộ lọc trạng thái:
    div.d-flex.align-items-center.gap-3
        +filter-status(filterStatus)
    table.product-table
        thead
            tr
                th ID
                th Image
                th Name
                th Price
                th Category
                th Status
                th Actions
        tbody
            each product, index in products
                tr
                    td #{index + 1}
                    td
                        img(src=product.thumbnail, alt=product.title, class="product-image")
                    td #{product.title}
                    td #{product.price} $
                    td #{product.category}
                    td
                        if (product.status == 'active')
                            a(href="#" class="status available") Active
                        else
                            a(href="#" class="status out-of-stock") Active
                    td
                        button.btn.btn-edit Edit
                        button.btn.btn-delete Delete

    nav(aria-label="Page navigation")
        ul.pagination.justify-content-center.mt-4
            if (pagination.currentPage != 1)
                li.page-item
                    button.page-link(button-pagination=pagination.currentPage - 1) Trước

            - for (var i = 1; i <= pagination.totalPage; i++)
                li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                        button(
                            button-pagination=i
                        ).page-link(href="#") #{i}    

            if (pagination.currentPage != pagination.totalPage)
                li.page-item
                    button.page-link(button-pagination=pagination.currentPage + 1) Sau

