extend ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug

block main 
    h1 Product List
    +search(keyword)
    h5.mb-2 Bộ lọc trạng thái:
    div.d-flex.align-items-center.gap-3
        +filter-status(filterStatus)
    
    +form-change-multi(
        `${prefixAdmin}/products/change-multi?_method=PATCH`
    )

    table(
        class="product-table"
        checkbox-multi
    )
        thead
            tr
                th 
                  input(
                    type="checkbox"
                    name="check-all")
                th ID
                th Image
                th Name
                th Price
                th Position
                th Category
                th Status
                th Actions
        tbody
            each product, index in products
                tr  
                    td 
                        input(
                            type="checkbox"
                            name="id"
                            value=product._id
                        )
                    - const currentPage = Number(pagination.currentPage);
                    - const limitItem = Number(pagination.limitItem);
                    td #{index + 1 + (currentPage - 1) * limitItem}
                    td
                        img(src=product.thumbnail, alt=product.title, class="product-image")
                    td #{product.title}
                    td #{product.price} $
                    td 
                        input(
                        class="form-control"
                        style="width: 150px;"
                        type="number"
                        value=product.position
                        min=1
                        name="position"
                        )
                    td #{product.category}
                    td
                        if (product.status == 'active')
                            a(
                                href="javascript:;"
                                data-status=product.status
                                data-id=product._id
                                button-change-status
                                class="status available"
                                ) Active
                        else
                            a(
                                href="javascript:;"
                                data-status=product.status 
                                data-id=product._id
                                button-change-status
                                class="status out-of-stock"
                                ) Inactive
                    td
                        button.btn.btn-edit Edit
                        button(
                            class="btn btn-delete"
                            data-id=product._id
                            button-delete
                        ) Delete

    +pagination(pagination)

    form(
        id="form-change-status"
        action=""
        method="POST"
        data-path=`${prefixAdmin}/products/change-status`
    )

    form(
        id="form-delete-item"
        action=""
        method="POST"
        data-path=`${prefixAdmin}/products/delete`
    )

    
    script(src="/admin/js/product.js")