extend ../../layout/default.pug

block main 
    h1 Product List
    form(class="d-flex" role="search" id="form-search")
        input.form-control.form-control-sm.custom-search-input.mr-2(
            type="text", 
            name="keyword",
            placeholder="Tìm kiếm...", 
            aria-label="Search"
            value=keyword
        )
        button.btn.btn-outline-primary.btn-sm(type="submit") Tìm kiếm

    h5.mb-2 Bộ lọc trạng thái:
    div.d-flex.align-items-center.gap-3
        div.btn-group(role="group" aria-label="Filter status buttons")
        each item in filterStatus
            button(
                type="button" 
            class=`btn btn-outline-primary ${item.class}` 
            button-status=item.status) #{item.name}
    table.product-table
        thead
            tr
                th ID
                th Image
                th Name
                th Price
                th Category
                th Status
                th Actions
        tbody
            each product, index in products
                tr
                    td #{index + 1}
                    td
                        img(src=product.thumbnail, alt=product.title, class="product-image")
                    td #{product.title}
                    td #{product.price} $
                    td #{product.category}
                    td
                        if (product.status == 'active')
                            a(href="#" class="status available") Active
                        else
                            a(href="#" class="status out-of-stock") Active
                    td
                        button.btn.btn-edit Edit
                        button.btn.btn-delete Delete
