extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    if role.permissions.includes('role_view')
        h1 Chi tiết nhóm quyền
        +alert-success(5000)
        +alert-error(5000)

        dl
            dt Tên nhóm quyền:
            dd #{record.title}

            dt Mô tả ngắn:
            dd #{record.description}

        a.btn.btn-secondary(href=`${prefixAdmin}/roles`) Quay lại
        a.btn.btn-primary(href=`${prefixAdmin}/roles/edit/${record._id}`) Chỉnh sửa
