extends ../../layout/auth.pug
include ../../mixins/alert.pug

block main
    h1.text-center.mt-4.mb-4 Login

    +alert-success(5000)
    +alert-error(5000)

    form(
        action=`${prefixAdmin}/auth/login`
        method="POST"
        class="mx-auto p-4 shadow rounded bg-light"
        style="max-width: 400px;"
    )
        .mb-3
            label(for="email" class="form-label") Email
            input#email.form-control(type="email" name="email" placeholder="Enter your email" required)

        .mb-3
            label(for="password" class="form-label") Password
            input#password.form-control(type="password" name="password" placeholder="Enter your password" required)

        .d-grid
            button.btn.btn-primary.w-100(type="submit") Log In

        .text-center.mt-3
            a(href=`${prefixAdmin}/auth/forgot-password`) Forgot password?
