extends ../../layout/default.pug
include ../../mixins/table-tree.pug

block main 

    h1 Product List
    .row 
        .col-6.text-end
            a(
                href=`${prefixAdmin}/products-category/create`
                class="btn btn-primary"
            ) Create Products

    table(
        class="product-table"
        checkbox-multi
    )
        thead
            tr
                th 
                    input(
                        type="checkbox"
                        name="check-all")
                th ID
                th Image
                th Name
                th Position
                th Status
                th Actions
        tbody
            +table-tree(records)

    form(
        id="form-change-status"
        action=""
        method="POST"
        data-path=`${prefixAdmin}/products-category/change-status`
    )

    form(
        id="form-delete-item"
        action=""
        method="POST"
        data-path=`${prefixAdmin}/products-category/delete`
    )


    script(src="/admin/js/product.js")