mixin alert-success(time)
    - if (messages.success)
        .message.success
        div(
            class="alert alert-success"
            show-alert
            data-time="5000"
        ) #{messages.success} <span class="close-alert" close-alert>×</span>

mixin alert-error(time)
    - if (messages.error)
        .message.error
        div(
            class="alert alert-danger"
            show-alert
            data-time="5000"
        ) #{messages.error} <span class="close-alert" close-alert>×</span>