mixin form-change-multi(path)
    form(
        action=path
        method="POST"
        form-change-multi
        class="form-change-multi"
    )
        select.form-select(name="type")
            option(disabled selected) Select action
            option(value="active") Active
            option(value="inactive") Inactive
            option(value="delete-all") Delete all
            option(value="change-position") Change position

        input.form-control.d-none(
            type="text"
            name="ids"
            placeholder="Enter product IDs"
        )

        button.btn.btn-primary(type="submit") Apply
