
extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(2000)
    +alert-error(2000)
    .container.my-3
        .row
            .col-12
                +box-head("OTP Password Verification")

        .row.justify-content-center
            .col-lg-6
                form(
                    action='/user/password/otp' 
                    method='POST' 
                    class='mt-4'
                    )
                    .mb-3
                        label.form-label(for='email') Email
                        input#email.form-control(
                            type='email' 
                            name='email' 
                            required 
                            placeholder='Enter your email address' 
                            value=(email || '')
                            readonly
                            )

                    .mb-3
                        label.form-label(for='otp') OTP Password
                        input#otp.form-control(type='text' name='otp' required placeholder='Enter the OTP sent to your email')

                    button.btn.btn-primary(type='submit') Verify OTP